<router-outlet></router-outlet>
<refresh-page></refresh-page>
<button class="btn btn-primary btn-block" routerLink="/payment">Open Payment Gateway</button>

<div class="alert alert-danger" role="alert" *ngIf="error">
    {{error}}
</div>
<h1>Welcome.. Data from Promise</h1>
<ng-container *ngFor="let user of promiseUsers">
    <p>{{user | json}}</p>
</ng-container>

<hr>

<h1>Welcome.. Data from Normal Observable</h1>
<ng-container *ngFor="let user of observableUsers">
    <p>{{user | json}}</p>
</ng-container>

<hr>

<h1>Welcome.. Data from Transform Observable</h1>
<ng-container *ngFor="let user of transformUsers">
    <p>{{user | json}}</p>
</ng-container>